/*
header:    font-family: 'Open Sans', sans-serif;
body: font-family: 'Raleway', sans-serif; 
*/
body{
    font-family: 'Raleway', sans-serif;
    
}

h1,
h2,
h3{
    font-family: 'Open Sans', sans-serif;
    color: #575E66;
    text-transform: none;    
}
.d-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.etiqueta{
    background-color: aqua;
    padding: 10px 5px;
}

@media screen and (min-width:600px) {
    .d-grid{
        background-color: #575E66;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(auto,1fr);
    }    
}
